<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:extractNativeLibs="true" android:theme="@style/AppTheme" android:label="Go2APK Calculator" android:allowBackup="true" android:supportsRtl="true" android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicCalculatorActivity" android:exported="false" android:screenOrientation="unspecified"></activity>
        <activity android:name=".AdvancedCalculatorActivity" android:exported="false" android:screenOrientation="unspecified"></activity>
    </application>
</manifest>
